 <style type="text/css">
html body div #menu, html body div #menu a {background-color: transparent; font-family: Georgia; color: #212e36;}

body {background-color: #d8f0f4; background-image: url(http://i.imgur.com/bFQ6V.png);}

#container {width: 500px; margin: 25px;}

#two, #three {padding: 8px; font-family: tahoma; color: #212e36; font-size: 11px; width: 250px; text-align: center}


.head {font-family: tahoma; color: #192e28; font-size: 14px; text-align: center;}
#myimg {  width: 75px; height: 100px;  }

b {color: #50193E;}
</style>
 
 <center>
<div id="container">
     <center><div class="head"><h1>Developer Profile</h1></div></center>
<table id="inside" cellspacing="0" border="0">
   
<tr>
<td colspan="2" >
<%= image_tag("ax2.jpg", :alt => "profile photo",:id => "myimg" )%>
</td>
    <td>
        <table>
            <tr>
<td id="Td1">
<div class="head">Name:</div>
</td>
<td id="Td2">
<div class="head">Farzaneh Mortazavi</div>
</td>
</tr>
    <tr>
<td id="two">
<div class="head">School:</div>

</td>
<td id="two">
<div class="head">University of Tehran</div>
</td>
</tr>
    <tr>
<td id="Td1">
<div class="head">Field of Study</div>

</td>
<td id="Td2">
<div class="head">Multimedia Systems</div>
</td>
</tr>

        </table>
    </td>
</tr>

</table>
</div>
</center>


</div>